@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-ridge {
    border-style: ridge;
  }

  .border-groove {
    border-style: groove;
  }

  .border-outset {
    border-style: outset;
  }

  .border-inset {
    border-style: inset;
  }

  .bubbles-setup::before,
  .bubbles-setup::after {
    display: none;
    content: "";
    position: absolute;
    width: 140%;
    height: 100%;
    left: -20%;
    background-repeat: no-repeat;
  }

  .bubbles-setup::before {
    top: -75%;
    background-image: radial-gradient(circle, var(--bubbles-color) 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, var(--bubbles-color) 20%, transparent 30%),
      radial-gradient(circle, var(--bubbles-color) 20%, transparent 20%),
      radial-gradient(circle, var(--bubbles-color) 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, var(--bubbles-color) 15%, transparent 20%),
      radial-gradient(circle, var(--bubbles-color) 20%, transparent 20%),
      radial-gradient(circle, var(--bubbles-color) 20%, transparent 20%),
      radial-gradient(circle, var(--bubbles-color) 20%, transparent 20%),
      radial-gradient(circle, var(--bubbles-color) 20%, transparent 20%);
    background-size: 20% 20%, 40% 40%, 30% 30%, 40% 40%, 36% 36%, 20% 20%, 30% 30%, 20% 20%, 36% 36%;
  }

  .bubbles-setup::after {
    bottom: -75%;
    background-image: radial-gradient(circle, var(--bubbles-color) 20%, transparent 20%),
      radial-gradient(circle, var(--bubbles-color) 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, var(--bubbles-color) 15%, transparent 20%),
      radial-gradient(circle, var(--bubbles-color) 20%, transparent 20%),
      radial-gradient(circle, var(--bubbles-color) 20%, transparent 20%),
      radial-gradient(circle, var(--bubbles-color) 20%, transparent 20%),
      radial-gradient(circle, var(--bubbles-color) 20%, transparent 20%);
    background-size: 30% 30%, 40% 40%, 36% 36%, 40% 40%, 30% 30%, 20% 20%, 40% 40%;
  }

  .bubbles-show:before {
    display: block;
  }

  .bubbles-show:after {
    display: block;
  }
}

@layer {
  html {
    /* Set rem size. */
    font-size: 16px;
  }
}
